<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лучшие пельмени. Доставка по всей России</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="text">
        <h1>Вход</h1>
        <form method="POST">
            <label for="username">Имя пользователя:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input class="button" href="/" type="submit" value="Войти">
        </form>
    </div>

    <footer>
        <p>Все права защищены.</p>
    </footer>

</body>
</html>
