<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="text">
        <h1>Регистрация</h1>
        <form method="POST">
            <label for="username">Имя пользователя:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input class="button" type="submit" value="Зарегистрироваться">
        </form>
    </div>

</body>
</html>

